// @import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500|Roboto:400,700');

// FONTS
// $heading: kudryashev-d-contrast-sans, sans-serif;
$heading: roc-grotesk, sans-serif;
$main: roc-grotesk, sans-serif;

// COLORS
$white: #fff;
$gray: #a5a5a5;
$black: #322c2c;
$text: #8e8e8e;
